.footer-section {
    margin-top: var(--gap-big);
}

.footer-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 101px;
    background: #DDE3E9;
}

.btn-send {
    width: 133px;
    height: 37px;
    justify-content: right;

    background: #2F3676;
    border-radius: 7px;

    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
}