.header {
    width: 100%;
    height: 230px;
    display: flex;
    position: relative;
}

.header-img {
    width: 100%;
    position: absolute;    
}

.container-header-title {
    width: 40%;
    position: absolute;
    color: #FFFFFF;
    font-size: 23px;
    line-height: 28px;
    top: var(--gap-medium);
    left: var(--gap-medium);
}

.container-header-title > strong {
    font-weight: bold;
}

