.sections {
    padding-left: var(--gap-medium);
}

.sections > .section-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-top: var(--gap-big);
    margin-bottom: var(--gap-small);
}

.section-quantity {
    display: flex;
}

.section-textarea {
    resize: none;
    width: 500px;
    height: 150px;
    background: #DDE3E9;
    border: 1px solid #2F3676;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.quantity-button {
    fill: #2f3676;
    cursor: pointer;
    
}

.quantity-button:hover {
    fill: #191847;
}

